<!-- views/employee/new.ejs -->
<br>
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 centered-form">
        <form action="new" method="POST">
          <div class="form-group">
            <label for="user">User</label>
            <input type="text" name="user" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="number" name="password" class="form-control">
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control"></input>
          </div>
          <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" name="surname" class="form-control"></input>
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-warning">Create employee</button>
          </div>
        </form>
      </div>
    </div>
  </div>